* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: white;
    background: linear-gradient(to top, #ffffff, #ff00b7);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 4rem;
  }
  
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: -30px;
    margin-bottom: -5px;
  }